
name: Build Windows EXE (No Console)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE (No Console)
      run: pyinstaller --onefile --noconsole --hidden-import=requests client.py

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: client-exe
        path: dist/client.exe
